<section id="add-video">
  <h2>Adding a Video</h2>
  <ul id="add-video-instructions">

    <li class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">The process</h3>
      </div>
      <div class="panel-body">
        <p>
          You will be inserting the SD card into your computer. On OSX and Windows, one partition called <code>boot</code> will appear. On linux, two partitions will appear.
        </p>

        <p>
          The video will be loaded onto and played from the partition named <code>boot</code>.
        </p>
      </div>
    </li>

    <li class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Moving the video to the SD card</h3>
      </div>
      <div class="panel-body">
        <p class="text-danger">
            Don't forget to eject the SD card before pulling it out!
        </p>

        <p>
            <h6>Insert the SD card</h6>
            Connect the Micro SD to your computer however you see fit. This behaves much like a USB drive. A drive named <code>boot</code> will appear.
        </p>

        <p>
            <h6>
              The video is loaded directly into the <code>boot</code>
            </h6>
            After opening <code>boot</code> &mdash; if there is a video &mdash; rename it to anything but <code>video.mp4</code>.
        </p>

        <p>
            <h6>Copy the new video in the boot directory</h6>
            Open a different window, find your videos's folder, and copy the video. Go back to the <code>boot</code> window and paste the video in this folder. Make sure the video is named <code>video.mp4</code> in all lowercase.
        </p>
      </div>
    </li>

    <li class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Safely eject the SD card</h3>
      </div>
      <div class="panel-body">
        <p>
          Eject <code>boot</code> in one of two ways.
          <ul>
              <li>1. Left click each item name and select eject.</li>
              <li>2. Hit the little up arrow next to each item.</li>
          </ul>
        </p>
      </div>
    </li>

  </ul>
</section>