<section id="how-to">
  <h2>How to use the Pi-noculars</h2>
  <p>
    The Raspberry Pi is programmed to run a video on a loop as soon as it is plugged in. A little after <span class="closing-time">closing time</span>, the Pi shuts off on its own.
  </p>

  <p>
    That's it! Plug it in and it works.  To save the screen, the staff at the exhibit should unplug the device from the wall outlet at night. If people are seeing a blue screen, unplug it then plug it back in. If you ever find yourself handling the device, please be gentle.
  </p>

  <p class="text-danger">
    Only unplug the device if you see a blue screen or it's after <span class="closing-time">closing time</span>! By unplugging it unexpectedly, the SD card could become corrupt and the program will need to be <a href="#dev-info" class="insite-nav">reinstalled</a>. If you find yourself needing to turn off the device, check out the <a href="#shutdown-instructions" class="insite-nav">shutdown instructions</a>.
  </p>
</section>