<section id="troubleshooting">
  <h2>Troubleshooting</h2>
  <ul id="common-problems-list">
    <li class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">If you see a blue screen</h3>
      </div>
      <p class="panel-body">
        Unplug the Pi and plug it back in.
      </p>
    </li>

    <li class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">If you see a black screen</h3>
      </div>
      <div class="panel-body">
          <p>
            Make sure the Pi is plugged in and a red light is lit on the bottom-right corner of the chip(ignore the green light). If the red light is on, flip the switch on top right side of the screen.
          </p>

          <p>
            If you followed all these steps and nothing has happened, look at the final troubleshooting issue.
          </p>
      </div>
    </li>

    <li class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">The Pi is plugged in, but no red light is showing on the bottom-right corner of the Pi.</h3>
      </div>
      <p class="panel-body">
        Make sure there wasn't a short on that outlet. If the outlet works,then this means the Pi doesn't. The Pi will need to be replaced, but everthing else can still be used.
      </p>
    </li>

    <li class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">The aforementioned red light is on, but the Pi still doesn't work</h3>
      </div>
      <p class="panel-body">
        You will need to remove the SD card, <a href="mailto:pinocs@Bowen-dev.com" >get ahold of me</a>, and prepare to free up an afternoon. I will work remotely to get the problem solved.
      </p>
    </li>
  </ul>
</section>
